.quantityButton {
  display: flex;

  .groupButton {
    width: 1.5em;
    height: 2.5em;

    .symbol {
      width: 100%;
      height: 100%;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 1.2em;
      background-color: #ffffff;
      border: none;

      &.minus {
        border: 0.8px solid #000000
        //border:0.8px solid #9c8034 ;
      }

      &.plus {
        border: 0.8px solid #000000
        //border:0.8px solid #9c8034 ;
      }
    }
  }

  &.scaleItemPaymentPage {
    transform: scale(0.8);
    justify-content: center;
    font-family: "Work Sans", sans-serif;
  }

  .number {
    border: none;
    width: 3.2em;
    font-size: 1.1em;
    text-align: center;
    border-radius: unset;

    &.border {
      border-top: 0.8px solid #000000;
      border-bottom: 0.8px solid #000000;
      border-radius: unset;
      //border-top: 0.8px solid #9c8034;
      //border-bottom: 0.8px solid #9c8034;
    }
  }
}