.Login {
  height: 100vh;

  .box {
    padding: 2em;
    width: 26%;
    margin: 3em auto;
    border-radius: 0.3em;
    border: 0 solid rgba(222, 226, 230, .7);
    box-shadow: 0 0.5em 1em rgb(0 0 0 / 15%);

    .content {
      .part {
        &:nth-child(1) {
          h4 {
            font-size: 1.6em;
            font-weight: 600;

          }
        }

        &:nth-child(2) {

          .Input {
            margin-top: 1em;
          }
        }

        &:nth-child(3) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 1em;

          .selectCheckbox {
            .checkbox {
              width: 16px;
              height: 16px;
              position: relative;
              top: 2px;
              margin-right: 0.5em;
              cursor: pointer;

              &:focus {
                box-shadow: 0 0 0 4px rgb(49 103 235 / 25%);

              }
            }
          }
        }

        &:nth-child(4) {
          .item {
            margin-top: 1em;

            &.textButton {
              min-height: 2.5em;
              line-height: 2.5em;
              text-align: center;
            }
          }
        }

        .loginButton {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 896px) {
  .Login {
    height: auto;
    .box {
      width: 50%;
    }

  }
}

@media (max-width: 575.98px) {
  .Login {
    height: auto;
    .box {
      width: 90%;
    }
  }
}