.inputSpace {
  width: 100%;
  min-height: 2.5em;
  border: 1px solid #cfdbe6;
  border-radius: 0.3em;
  font-size: 1em;
  padding-left: 1em;

  &:focus {
    border-color: #98b3f5;
    outline: 0;
    box-shadow: 0 0 0 4px rgb(49 103 235 / 25%);
  }

  &:hover {
    border-color: #3167EB;
  }

  &.checkboxStyle {
    width: 10%;
  }

}
