.indicatorItem{
  height: 5em;
  position: relative;
  &:last-child .single-line{
    display: none;
  }
  &.isActive{
    .itemProgress{
      .circle{
        background-color: orange;
        transition: ease-in-out 1000ms;
      }
      .single-line{
        background-color: orange;
        transition: ease-in-out 1000ms;
      }
    }
  }
  .itemProgress{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
      .circle{
        padding: 1.5em 1.5em;
        border-radius: 8em;
        background-color: #bebebe;
        span{
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    .single-line{
      width: 5em;
      height: 0.2em;
      background-color: #bebebe;
    }
  }

}