.footer{
  font-size: 1em;
  padding: 1em;
  width: 100%;
  height: auto;
  background-color: navajowhite;
  text-align: right;

  .linkAdmin {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;

    &:hover {
      color: red;
    }
  }
}