.HomePage {
  .header {
    width: 100%;
    height: 4em;
    background-color: navajowhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar {
      .Navbar {
        ul {
          list-style: none;
          display: flex;

          li {
            padding: 0 2em;
          }
        }
      }
    }

    .groupUserIcon {
      display: flex;
      margin-right: 2em;
      .icon {
        padding: 0 1em;
        cursor: pointer;
      }
    }
  }
}