.button {
  padding: 0.5em 1em;
  border-radius: 0.3em;
  font-size: 1em;
  color: #fff;
  cursor: pointer;
  &.width100{
    width: 100%;
  }
  &.default {
    color: #000;
    border: 1px solid #cfdbe6;
    background-color: #fff;
  }
  &.modalBtn{
    background-color: #9c8034;
    color: #ffffff;
  }
  &.modalBtnDisable{
    background-color: #a3987b;
    color: #ffffff;
  }
  &.reviewPageButtonSize{
    width: 20%;
  }
  &.reviewPageButton{
    background-color: limegreen;
    border: none;
    outline: none;
    transition: background-color ease-in-out 200ms;
    &:hover{
      background-color: lawngreen;
    }
  }
  &.primary {
    border: 1px solid #2752bc;
    background-color: #3167eb;
    transition: ease-in-out 300ms;
    &:hover{
      background: #2a58c8;
    }
    &:focus{
      box-shadow: 0 0 0 4px rgb(49 103 235 / 25%);
      background: #2a58c8;
    }
  }
  &.secondary {
    border: 1px solid  rgba(108, 117, 125, 0.25);
    background-color: transparent;
    color: #000;
    &:hover{
      outline: 0;
      border-color: #bebebe;
    }
    &:focus{
      box-shadow: 0 0 0 4px rgba(190,190,190,0.5);
      outline: 0;
      border-color: #bebebe;
    }
  }
}
