.detailBtn{
  width: 10em;
  position: absolute ;
  z-index: 1;
  top: 3em;
  border: 1px solid rgba(0,0,0,.15);
  background-color: #ffffff;
  box-shadow: 0 0.5em 1em rgb(0 0 0 / 15%);
  li{
    padding: 0.5em 1em;
    &:active{
      background-color: #3167eb;
    }
  }
}