.numberPagination{
  display: flex;
  justify-content: flex-end;
  padding: 0 2em 0 2em;
  li{
    padding: 0.2em 0.5em 0.2em 0.5em;
    background-color: #3167eb;
    margin-right: 0.2em;
    a{
      color: #ffffff;
    }
  }
}