.productPage{
  .filterProduct{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid rgba(222,226,230,0.7);
    .header{
      display: flex;
      flex-wrap: wrap;
      &:first-child{
        width: 30%;
      }
      &:last-child{

      }
    }
  }
  .table {
    table {
      width: 100%;
      padding: 2em;

      thead {
        text-align: left;
        color: #adb5bd;

        tr {
          th {
            padding: 0.5em 0;
            border-bottom: 1px solid #adb5bd;
            font-weight: 400;
            &:last-child {
              text-align: right;
            }
          }
        }
      }

      tbody {
        .itemRow {
          &:hover {
            background-color: rgba(152, 179, 245, 0.2);
          }

          td {
            padding: 0.5em 0;
            border-bottom: 1px solid #bebebe;
            position: relative;
            &:nth-child(3){
              font-weight: 500;
              //hidden text if it too long, base on width of row
              max-width: 15em;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding-right: 3em;
            }
            .productButton {
              width: 100%;
              display: flex;
              justify-content: flex-end;

              .detailButton {
                margin-right: 0.2em;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 896px){
  .productPage{
    .filterProduct{
      .header{

        &:first-child{

        }
      }
    }
    .table{
      table{
        thead{
          tr{
            th{
              padding-right: 2em;
            }
          }
        }
        tbody{
          .itemRow{
            td{
              padding-right: 2em;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 575.98px){
  .productPage{
    .filterProduct{
      .header{
        padding-bottom: 1em;
        &:first-child{
          width: 95%;
        }
      }
    }
    .table{
      table{
        thead{
          tr{
            th{
              padding-right: 1em;
            }
          }
        }
        tbody{
          .itemRow{
            td{
              padding-right: 1em;
            }
          }
        }
      }
    }
  }
}