.boxActionBtn{
  .actionButton {
    width: 100%;
    .child {
      position: absolute;
      width: 10em;
      background: #fff;
      border: 1px solid #bebebe;
      z-index: 1;
      display: block;
      bottom: -7em;
      left: 6em;
      box-shadow: 3px 3px 4px #8888;
      li{
        padding: 0.5em 1em;
        &:hover{
          color: red;
        }
      }
    }
  }
}