.spinner{
  img{
    position: absolute;
    top:22em;
    left: 48em;
  }
}

@media (max-width: 896px){
  .spinner{
    img{
      top: 14em;
      left: 28em;
    }
  }
}

@media (max-width: 575.98px){
  .spinner{
    img{
      top:26em;
      left: 12em;
    }
  }
}