.SelectButton{
  //width: 100%;
  padding: 0.6em 5em 0.6em 0.2em;
  border: 1px solid #cfdbe6;
  border-radius: 0.3em;
  font-size: 1em;
  text-align: left;
  margin-bottom: 1em;
  &.addProductSelectSize{
    padding: 0.6em 12em 0.6em 0.2em;
  }
  &:first-child{
    margin-right: 1em;
  }
  &:focus{
    border-color: #98b3f5;
    outline: 0;
    box-shadow: 0 0 0 4px rgb(49 103 235 / 25%);
  }
  &:hover{
    border-color: #3167EB;
  }
}