.InputFile{
  width: 100%;
  min-height: 2.5em;
  border: 1px solid #cfdbe6;
  border-radius: 0.3em;
  font-size: 1em;
  overflow: hidden;

  &:focus{
    border-color: #98b3f5;
    outline: 0;
    box-shadow: 0 0 0 4px rgb(49 103 235 / 25%);
  }
  &:hover{
    border-color: #3167EB;

  }
  &::file-selector-button {
    border: none;
    padding: 0.7em 2em;
    border-radius: 0.2em 0 0  0.2em;
    background-color: rgba(221,221,221,0.5);
    transition: ease-in-out 200ms;
    cursor: pointer;
    &:hover{
      background-color: rgba(221,221,221,1);
    }
  }

}