.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(238, 238, 238, 0.5);

  .Modal {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    background-color: #fffaef;
    box-shadow: 5px 10px 18px #888888;
    outline: none;

    .modalCart {
      width: 30em;
      // height: 100vh;
      padding: 1em;

      .titleModal {
        height: 6em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #9c8034;
        h3{
          font-family: 'Merriweather', serif;
          font-size: 1.5em;
        }
        button {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 1.1em;

        }
      }
      .bodyCard{
        .listItems {
          max-height: 25em;
          overflow-y: scroll;
          border-top: 0.2px solid #9c8034;
          border-bottom: 0.2px solid #9c8034;
          .list {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #9c8034;
            padding: 1em;
            .imageSide {
              img {
                width: 6em;
                height: 6em;
              }
            }

            .information {
              width: 100%;
              margin-left: 2em;
              .nameProduct{
                font-family: 'Merriweather', serif;
                font-size: 0.9em;
                padding-bottom: 0.5em;
                color: #003735;
              }
              .priceProduct{
                font-family: 'M PLUS Rounded 1c', sans-serif;
                font-size: 1em;
                color: #003735;
              }
              .quantityNprice{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 0.5em;
                .price{
                  font-family: 'M PLUS Rounded 1c', sans-serif;
                  font-size: 1.1em;
                  font-weight: 700;
                  color: #003735;
                }
              }
            }
          }
        }
        .finalPrice{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: 1em;
          .priceTotal{
            font-family: 'M PLUS Rounded 1c', sans-serif;
            font-size: 1.1em;
            font-weight: 700;
            color: #9c8034;
          }
        }
        .part{
          width: 100%;
          margin-top: 2em;
        }
      }
    }
  }
}
@media (max-width: 900px){
  .Overlay{
    .Modal{
      .modalCart{
        .bodyCard{
          max-height: 17em;
          overflow-y: scroll;
        }
      }
    }
  }
}

@media (max-width: 575.98px){
  .Overlay{
    .Modal{
      .modalCart{
        width: 22em;
        .bodyCard{
          max-height: 32em;
          overflow-y: scroll;
        }
      }
    }
  }
}