.informationUser {
  width: 100%;

  .boxForm {
    margin-bottom: 2em;

    .inputInformation {
      width: 100%;
      padding-top: 1.2em;

      p {
        padding-bottom: 0.5em;
      }
    }

    .selectInformation {
      padding-top: 1.2em;

      p {
        padding-bottom: 0.5em;
      }

      select {
        width: 12em;
        height: 3em;
        outline: none;
        color: #000000;
        border-radius: 0.2em;
        margin-right: 0.5em;
        padding-left: 1em;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .informationUser {
    width: 100%;

    .boxForm {
      .inputInformation {
        width: 100%;
      }

      .selectInformation {
        select {
          margin-bottom: 0.5em;
        }
      }
    }
  }
}