.invoicePage {
  padding: 2em 14em;

  table {
    width: 100%;

    thead {
      text-align: center;
      color: #adb5bd;
      border-bottom: 1px solid #adb5bd;

      th {
        border-bottom: 1px solid #9c8034;
        padding-bottom: 2em;

        &:last-child {
          text-align: right;
        }
      }
    }

    tbody {
      tr {
        text-align: center;

        td {
          text-align: center;
          //font-family: "Work Sans", sans-serif;
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-size: 1.3em;
          letter-spacing: 0.1em;
          border-bottom: 1px solid #9c8034;
          padding: 1em 0;

          &:first-child {
            width: 12em;
            text-align: left;
          }

          &:last-child {
            text-align: right;
          }

          img {
            width: 7em;
            height: 7em;
          }

          p {
            padding-bottom: 1em;
          }

          .removeBtn {
            font-size: 0.8em;
            padding: 0.3em 1em;
            border: 0.5px solid #000000;
          }
        }
      }
    }
  }

  .bill {
    .totalPrice {
      display: flex;
      justify-content: right;
      margin-top: 1em;

      p {
        font-size: 1.2em;
        padding-right: 10em;
      }
    }
  }

  .groupInformation {
    width: 60%;
    margin: 0 auto;
    margin-top: 3em;
    padding: 2em;
    border: 1px solid #bebebe;
    border-radius: 1em;
    box-shadow: 5px 10px 18px #888888;
    .purchaseBtn {
      display: flex;
      justify-content: right;
      margin-top: 3em;

      button {
        width: 8em;
        height: 2em;
        border-radius: 0.2em;
        border: none;
        background: #f79607;
        color: #000000;
        font-size: 1.2em;
        transition: ease-in-out 200ms;

        &:hover {
          background: navajowhite;
        }
      }
    }
  }


}

@media (max-width: 1000px) {
  .invoicePage {
    padding: 2em;
    .groupInformation{
      width: 80%;
      padding: 1em;
    }
  }

}

@media (max-width: 575.98px) {
  .invoicePage {
    padding: 1em;

    table {
      margin-top: 1.5em;

      thead {

        th {
          font-size: 0.8em;
          padding-bottom: 0.5em;

          &:last-child {

          }
        }
      }

      tbody {
        tr {
          text-align: center;

          td {
            font-size: 0.9em;
            letter-spacing: 0;

            &:first-child {
              width: auto;
            }

            &:last-child {

            }

            img {
              width: 5em;
              height: 5em;
            }

            p {
            }

            .removeBtn {
              font-size: 0.8em;
              padding: 0.3em 0.5em;
              border: 0.5px solid #000000;
            }
          }
        }
      }
    }

    .bill {
      .totalPrice {
        p {
          padding-right: 1em;
        }
      }
    }
    .groupInformation{
      width: 100%;
      padding: 1em;
    }
  }
}
