.defaultButton{
  .default{
    padding: 0.3em 1.3em;
    border-radius: 1em;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    &.activeButton{
      color: #006d0e;
      background-color: #ccf0d1;
      border-color: #b3e9b9;
    }
    &.archivedButton{
      color: #98530c;
      background-color: #ffe8d0;
      border-color: #fedcb9;
    }
    &.notAvailableButton{
      color: #920000;
      background-color: #fdcccc;
      border-color: #fbb3b3;
    }
  }

}