.Product {
  width: 98%;
  box-shadow: 5px 6px 13px rgba(190, 190, 190, 0.5);
  margin: 0 auto;
  padding: 30px;

  .createButton {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 4em;
  }

}

@media (max-width: 896px) {
  .Product {
    width: 100%;
    margin-top: 3em;
  }
}

@media (max-width: 575.98px) {
  .Product {
    width: 100%;
    margin-top: 3em;
  }
}
