.signupButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .icon {
    width: 20px;
    height: 20px;
    background-size: contain;
    padding-right: 1.5em;

    &.iconGmail {
      background-image: url("../../assets/icons/google-login.svg");
      background-repeat: no-repeat;
    }

    &.iconFacebook {
      background-image: url("../../assets/icons/facebook-login.svg");
      background-repeat: no-repeat;
    }
  }

  .text {
    font-size: 0.9em;
  }
}