.reviewPage {
  margin: 2em 0;

  .borderReviewPage {
    width: 50%;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 5px 10px 18px #888888;
    margin: 0 auto;

    .centerTitle {
      text-align: center;
    }

    .shippingInformation {
      display: flex;
      margin: 2em 0;

      .address {
        flex: 1;
        padding-right: 4em;

        .groupName {
          padding-bottom: 0.5em;
        }

        h4 {
          padding-bottom: 0.5em;
        }
      }
    }

    .listProduct {
      margin-bottom: 2em;

      table {
        width: 100%;
        border: 0.1em solid #000000;
        padding: 0.5em 0;

        thead {

          tr {
            border-bottom: 0.1em dotted #000000;
            display: flex;
            justify-content: space-around;
            padding-bottom: 0.5em;

            td {
              flex: 1;
            }
          }
        }

        tbody {
          width: 100%;
        }
      }
    }

    .price {
      width: 100%;
      display: flex;
      justify-content: right;

      .setRight {
        width: 40%;

        .detail {
          display: flex;
          justify-content: space-between;
          padding-bottom: 0.2em;
        }
        .note{
          font-size: 0.8em;

        }
      }

    }
  }
}

@media (max-width: 575.98px) {
  .reviewPage {
    .borderReviewPage {
      width: 95%;
      padding: 1em;

      .numberOrder {
        margin-top: 1em;
      }

      .shippingInformation {
        .address {
          padding-right: 1em;
        }
      }
    }
  }

}