.successIconModal {
  width: 30%;
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  box-shadow: 5px 10px 18px #888888;
  margin: 0 auto;
  .successOrder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .borderSuccessOrder {
      text-align: center;

      .iconSuccess {
        .iCon{
          font-size: 10em;
          color: limegreen;
        }

      }

      .thankyouText {
        padding-top: 1.5em;

        h3 {
          padding-bottom: 0.5em;
        }

        p {
          color: #888888;
        }
      }

      .backButton {
        margin-top: 2em;
      }
      }
    }
  }
@media (max-width: 820px){
  .successIconModal{
    width: 60%;
    .borderSuccessOrder{
      .iconSuccess{
        .iCon{
          font-size: 8em;
        }
      }
    }
  }
}
@media (max-width: 575.98px){
  .successIconModal{
    width: 80%;
    .borderSuccessOrder{
      .iconSuccess{
        .iCon{
          font-size: 8em;
        }
      }
    }
  }
}