.header-homepage {
  width: 100%;
  height: 5em;
  background-color: navajowhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .listNavbar {
    display: flex;
    align-items: center;
    .justifyButton{
      display: none;
      .justifyIcon {
        color: #003735;
      }
    }
    .iconHome{
      padding: 0 2em;
    }
    .navbar {

      ul {
        display: flex;
        font-size: 1.1em;
        li {
          padding: 0 2em;
        }
      }
    }
  }

  .groupUserIcon {
    display: flex;
    align-items: center;
    margin-right: 2em;

    .inputSearch {
      &:hover .textSpace {
        width: 20em;
      }

      .textSpace {
        width: 2em;
        height: 2em;
        border-radius: 1em;
        border: none;
        outline: none;
        padding-left: 1em;
        transition: width 500ms ease-in-out;

        &:focus {
          width: 20em;
        }
      }

      .iconSearch {
        position: absolute;
        top: 2em;
        right: 4.2em;
        cursor: pointer;
      }
    }

    .icon {
      color: #003735;
      padding: 0 1em;
      cursor: pointer;
    }

    .countItem {
      background: #f79607;
      padding: 0 0.4em;
      border-radius: 21em;
      transform: scale(0.6);
      position: absolute;
      top: 1.5em;
      right: 2em;

      .number {
        color: #ffffff;
      }
    }
  }
}

@media (max-width: 896px) {
  .header-homepage {
    .listNavbar {
      .justifyButton{
        display: block;
        padding-left: 2em ;
        .justifyIcon {

        }
      }
      .navbar {
        display: none;
        position: absolute;
        top: 5em;
        left: 0;
        z-index: 1000;

        ul {
          display: block;
          background: navajowhite;
        }

        li {
          width: 15em;
          padding: 0.5em 2em !important;
          border-top: 0.05em solid #f79607;

          &:hover {
            background-color: #f79607;
          }
        }
      }
      .showNavbar{
        display: block;
      }
    }
    .groupUserIcon{
      .inputSearch {
        &:hover .textSpace {
          width: 12em;
        }

        .textSpace {
          width: 2em;
          height: 2em;
          border-radius: 1em;
          border: none;
          outline: none;
          padding-left: 1em;
          transition: width 500ms ease-in-out;

          &:focus {
            width: 12em;
          }
        }

        .iconSearch {
          position: absolute;
          top: 2em;
          right: 4.2em;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .header-homepage {
    .listNavbar {
      .justifyButton{
        display: block;
        padding-left: 2em ;
        .justifyIcon {

        }
      }
      .navbar {
        display: none;
        position: absolute;
        top: 5em;
        left: 0;
        z-index: 1000;

        ul {
          display: block;
          background: navajowhite;
        }

        li {
          //padding: 0.5em 2em !important;
          padding: 2em 0;
          border-top: 0.05em solid #f79607;

          &:hover {
            background-color: #f79607;
          }
        }
      }
      .showNavbar{
        display: block;
      }
    }
    .groupUserIcon{
      .inputSearch {
        &:hover .textSpace {
          width: 12em;
        }

        .textSpace {
          width: 2em;
          height: 2em;
          border-radius: 1em;
          border: none;
          outline: none;
          padding-left: 1em;
          transition: width 500ms ease-in-out;

          &:focus {
            width: 12em;
          }
        }

        .iconSearch {
          position: absolute;
          top: 2em;
          right: 4.2em;
          cursor: pointer;
        }
      }
    }
  }
}