.SampleProduct{
  .boxProduct{
    padding: 2em;
    .category{
      font-family: 'Merriweather', serif;
      font-size: 1.8em;
      text-align: center;
      margin-bottom: 2em;
    }
    .displayProduct{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      .product{
        margin: 15px;
        .itemProduct{
          margin-bottom: 2em ;
          font-size: 1.2em;
          .img{
            width: 100%;
            img{
              width: 15em;
              height: 15em;
            }
          }
          .information{
            margin-top: 0.7em;
            text-align: center;
            p{
              &:nth-child(2){
                font-weight: bolder;
                padding: 0.3em 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 896px) {
  .SampleProduct{
    .boxProduct{

      .category{

      }
      .displayProduct{

        .itemProduct{
          padding-bottom: 3em;
          .img{
            width: 100%;
            img{
              width: 11em;
              height: 11em;
            }
          }
          .information{

          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .SampleProduct{
    .boxProduct{

      .category{

      }
      .displayProduct{

        .itemProduct{
          padding-bottom: 3em;
          .img{
            width: 100%;
            img{
              width: 100%;
              height: auto;
            }
          }
          .information{

          }
        }
      }
    }
  }
}
