.AddProduct{
  width: 45%;
  box-shadow: 5px 6px 13px rgba(190,190,190,0.5);
  margin: 0 auto;
  padding: 2em;
  .boxAddProduct{
    .group{
      margin-top: 2em;
      margin-bottom: 0.7em;
      display: flex;
      justify-content: space-between;
    }
    .flexItem{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      &.justify1{
        justify-content: space-between;
      }
    }
  }
}
@media (max-width: 896px){
  .AddProduct{
    width: 95%;
  }
}

@media (max-width: 575.98px){
  .AddProduct{
    width: 95%;

    .boxAddProduct{
      .flexItem{

      }
    }
  }
}
