.selectCard{
  width: 100%;
  margin: 0 auto;
  p{
    padding-bottom: 0.5em;
  }
  .card{
    height: 5em;
    img{
      width: 5em;
      height: auto;
    }
  }
  .cardInformation{
    .inputInformation{
      padding-top: 1em;
    }
  }
}
@media (max-width: 575.98px){
  .selectCard{
    width: 100%;
  }
}