.PaymentModal {
  width: 45%;
  margin: 0 auto;
  margin-top: 3em;
  background-color: white;
  border-radius: 1em;
  padding: 2em;
  box-shadow: 5px 10px 18px #888888;

}

.paymentPage {
  .groupBtn{
    .purchaseBtn {
      button {
        width: 7em;
        height: 2em;
        border-radius: 0.2em;
        border: none;
        background: #f79607;
        color: #000000;
        font-size: 1.2em;
        transition: ease-in-out 200ms;

        &:hover {
          background: navajowhite;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .PaymentModal {
    width: 74%;
    height: 22em;
    overflow-y: scroll;
    padding: 1em;
  }
  .paymentPage {
    padding: 1em;
  }

}

@media (max-width: 575.98px) {
  .PaymentModal {
    width: 91%;
    height: fit-content;
    overflow-y: unset;
  }
  .paymentPage {
    padding: 1em;
  }
}