.Register {
  height: 100vh;

  .box {
    padding: 2em;
    width: 26%;
    margin: 3em auto;
    border-radius: 0.3em;
    border: 0 solid rgba(222, 226, 230, .7);
    box-shadow: 0 0.5em 1em rgb(0 0 0 / 15%);
    .content {
      h4 {
        font-size: 1.6em;
        font-weight: 600;
      }
      .inputPart{
        .Input{
          padding-top: 1em;
          p{
            padding-bottom: 0.5em;
          }
          .phoneSpace{
            display: flex;
            flex-direction: row;
            .firstPhoneNumber{
              width: 30%;
              margin-right: 0.5em;
            }
          }
        }
      }
      .privacityPolicy{
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        p{
          font-size: 0.9em;
          color: #adb5bd;
        }
      }
      .registerButton{
        width: 100%;
      }
      .buttonPart{
        .gmailButton{
          display: flex;
          justify-content: space-between;
          .buttonItem{
            width: 49%;
          }
        }
      }
      .textButton{
        text-align: center;
        margin-top: 1em;
      }
    }
  }
}

@media (max-width: 896px){
  .Register{
    height: auto;
    .box{
      width: 50%;
    }
  }
}

@media (max-width: 575.98px){
  .Register{
    height: auto;
    .box{
      width: 90%;
    }
  }
}