.table {
    table {
      width: 100%;
      padding: 2em;

      thead {
        text-align: left;
        color: #adb5bd;

        tr {
          th {
            padding: 0.5em 0;
            border-bottom: 1px solid #adb5bd;
            font-weight: 400;
            &:last-child {
              text-align: right;
            }
          }
        }
      }

      tbody {
        .itemRow {
          &:hover {
            background-color: rgba(152, 179, 245, 0.2);
          }

          td {
            padding: 0.5em 0;
            border-bottom: 1px solid #bebebe;
            position: relative;
            &:nth-child(3){
              font-weight: 500;
              //hidden text if it too long, base on width of row
              max-width: 15em;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding-right: 3em;
            }
            .productButton {
              width: 100%;
              display: flex;
              justify-content: flex-end;

              .detailButton {
                margin-right: 0.2em;
              }
            }
          }
        }
      }
    }
  }

@media (max-width: 896px){
  .table{
    width: 100%;
    overflow-x: scroll;

  }
}

@media (max-width: 575.98px){
  .table{
    width: 100%;
    overflow-x: scroll;
  }
}