* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

.linkColor {
    color: #3167EB;
}
a{
    text-decoration: none;
    color: #003735;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
button,ul,li{
    cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
input[type=checkbox]{
    outline: none;
}
.flexButton{
    margin-top: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.App{

}
