.DetailProduct{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4em;

  .imageSide{
    width: 50%;
    .mainPicture{

      img{
        width: 100%;
        height: 100%;
      }
    }
    .subPicture{
      height: 9em;
      display: flex;
      margin-top: 1em;
      overflow-x: scroll;
      img{
        width: 7em;
        height: 7em;
        margin-right: 1em;
        transition: ease-in-out 200ms;
        &:hover{
          width: 7.5em;
          height: 7.5em;
        }
      }
    }
  }
  .contentSide{
    width: 50%;
    padding-left: 5em;
    .titleProduct{
      border-bottom: 1.2px solid #9c8034;
      .category{
        font-family: "Work Sans", sans-serif;
        font-size: 1.7em;
        color: #003735;
        letter-spacing: 0.1em;
        padding-bottom: 0.5em;
      }
      .nameProduct{
        font-family: 'Merriweather', serif;
        font-size: 1.6em;
        padding-bottom: 0.5em;
        color: #003735;
      }
      .priceProduct{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 1.3em;
        color: #003735;
      }
    }
    .quantity{
      margin-top: 2em;
    }
    .addButton{
      width: 100%;
      margin-top: 2em;
    }


  }
  .introPart{
    width: 41%;
    position: absolute;
    top: 25em;
    right: 3.5em;

    .about{
      margin-top: 2em;
      h3{
        font-family: "Work Sans", sans-serif;
        letter-spacing: 0.2em;
      }
    }
    .introduceProduct{
      margin-top: 1em;
      .information{
        font-family: "Work Sans", sans-serif;
        border: 2px dashed goldenrod;
        background-color: #fffaef;
        color: #003735;
        font-weight: 700;
        padding: 1.2em;
      }
    }
  }
}
@media (max-width: 1024px){
  .DetailProduct{
    .introPart{
      width: 100%;
      position: unset;

    }

  }
}

@media (max-width: 575.98px){
  .DetailProduct{
    padding: 1em;
    .imageSide{
      .mainPicture{
        img{}
      }
      .subPicture{
        overflow-x: scroll;
        img{
          width: 3em;
          height: 3em;
          margin-right: 0.3em;
        }
      }
    }
    .contentSide{
      padding-left: 1em;
      .titleProduct{
        .category{
          font-size: 1.2em;
          padding-bottom: 0.2em;
        }
        .nameProduct{
          font-size: 1.1em;
        }
        .priceProduct{
          font-size: 1em;
        }
      }
      .quantity{
        margin-top: 1em;
      }
      .addButton{
        margin-top: 1em;
      }

    }
    .introPart{
      width: 100%;
      position: unset;

    }
  }
}